button:hover {
	cursor: pointer;
}
input[type=button]:hover {
	cursor: pointer;
}
.login100-form-btn {
  font-family: Bold;
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  float:left;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 160px;
  height: 42px;
  border-radius: 10px;
  background:grey;
  position: relative;
  z-index: 1;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
   margin-top:40px;
   margin-left:40px;
}